* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.nav {
    background: linear-gradient(to right, #780206, #061161);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-family: 'DotGothic16', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.nav p {
    color: white;
}

.nav p:hover {
    transition: 1s;
    border-bottom: 2px solid gray;
    color: gray;
    cursor: pointer;
}

.nav img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%
}

.search-wrapper input {
    height: 25px;

    border-radius: 15px;
    outline: none;
    border: 1px solid transparent;
}

.banner {
    width: 100%;
    height: 800px;
    background-image: url(https://cms-i.autodaily.vn/du-lieu/2020/07/21/lamborghini-aventador-svj-xago-edition-3.jpg);
    background-position: center;
    background-size: cover;
}

.banner h1 {
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* glow text */
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #27ae60, 0 0 40px #27ae60, 0 0 50px #27ae60, 0 0 60px #27ae60, 0 0 70px #27ae60;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #0fbcf9, 0 0 40px #0fbcf9, 0 0 50px #0fbcf9, 0 0 60px #0fbcf9, 0 0 70px #0fbcf9, 0 0 80px #0fbcf9;
    }
}

.container {
    background: linear-gradient(to right, #780206, #061161);
}

.container h1 {
    text-align: center;
}

.space-100px{
    width:100%;
    height:100px;
}
.space-50px{
    width:100%;
    height:50px;
}
.card {
    width: 20%;
    padding: 20px 10px;
    background: whitesmoke;
    text-align: center;
}

.card .img {
    width: 100%;
    height: 200px;
    background-image: url(https://vcdn1-vnexpress.vnecdn.net/2020/11/19/lamborghini-huracan-sto-160577-6122-9252-1605777840.jpg?w=900&h=540&q=100&dpr=1&fit=crop&s=YrGcwGA6esan91ZDwYanEg);
    background-position: center;
    background-size: cover;
}

.card h1 {
    margin-top: 20px;
}

.price {}

.card button {
    background: linear-gradient(to right, #780206, #061161);
    border: none;
    width: 90%;
    text-align: center;
    color: #fff;
    padding: 10px 0px;
    margin: auto;
    background-size: 150%;
    transition: 1s;
}

.card button:hover {
    cursor: pointer;
    background-position: right;
    transition: 1s;
}

.product-wrapper {
    display: flex;
    justify-content: space-around;
}