*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar-brand img{
    width:60px;
}
.carousel-item img{
    width: 100%;
    height:700px;
    object-fit: cover;
}
.carousel{
    margin-top: 70px;
}
.navbar{
    position:fixed;
    z-index: 9999;
    width: 100%;
    top:0;
    box-shadow: 0 0 15px rgba(0,0,0,0.5)
}
lottie-player{
    margin: auto;
}
.card-deck{
    display:flex;
    justify-content:space-between;
}
.card{
    margin-bottom: 30px;
}